// swift-tools-version: 5.7
import PackageDescription

let package = Package(
  name: "XrayKit",
  platforms: [.iOS(.v15), .macOS(.v12)],
  products: [
    .library(name: "LibXrayCustom", targets: ["LibXray"])
  ],
  targets: [
    .binaryTarget(
      name: "LibXray",
      url: "https://github.com/tozik/libXray/releases/download/VERSION/LibXray.xcframework.zip"",
      checksum: "CHECKSUM"
    )
  ]
)
