// swift-tools-version: 5.7
import PackageDescription

let package = Package(
  name: "libXray",
  platforms: [.iOS(.v15), .macOS(.v12)],
  products: [
    .library(name: "libXray", targets: ["libXray"])
  ],
  targets: [
    .binaryTarget(
      name: "libXray",
      url: "https://github.com/tozik/libXray/releases/download/VERSION/LibXray.xcframework.zip"",
      checksum: "CHECKSUM"
    )
  ]
)
